<!DOCTYPE html>
<html lang="es">
    <%- include('partials/head', {tabTitle : 'Sobre nosotros' }) %>
<body>

    <header id="header"></header>
    
    <main class="main-about">

        <!------- TARJETA  ------->

        <div class="container">
            <div class="front side">
                <div class="content">
                    <h1>SOBRE NOSOTROS</h1>
                    <p>DE&CO es una marca ideada para crear productos únicos y exclusivos, es por eso que nuestro stock es acotado. Deseamos crear en cada uno de nuestros diseños no solo el objeto en sí, sino una experiencia, cuidando cada detalle y dedicándoles el tiempo que merecen. <br>
                    Estamos listos para cumplir con tus expectativas. 
                    </p>
                </div>
            </div>
            <div class="back side">
                <div class="content">
                    <h1>GRACIAS POR VISITARNOS!</h1>
                    <p>Por último, ansiamos que sepas que uno de nuestros pilares fundamentales es la sustentabilidad, razón por la cual todos nuestros productos son ecológicos, reutilizables y amigables con el medio ambiente. <br>
                    
                    Nos alegramos de que seas parte. 
                    </p>
                    <p>Atentamente:
                        <strong>DE&CO</strong></p>
                </div>
            </div>
        
        </div>
        
        <!---------- TARJETA ------------>
        <h2 class="main-about__second-title">Contanos cómo fue tu experiencia:</h2>

    <div class="valoracion">
        
        <button>
            <i class="fas fa-star"></i>
        </button>

        <!-- Estrella 2 -->
        <button>
            <i class="fas fa-star"></i>
        </button>

        <!-- Estrella 3 -->
        <button>
            <i class="fas fa-star"></i>
        </button>

        <!-- Estrella 4 -->
        <button>
            <i class="fas fa-star"></i>
        </button>

        <!-- Estrella 5 -->
        <button>
            <i class="fas fa-star"></i>
        </button>

    </div>

    <div class="contact-footer btn-home-aboutus">
        <a href="/" class="contact-footer__btn home-link-aboutus">HOME</a>
    </div>

    </main>

    <footer id="footer"></footer>

    <script src="/js/header&footer.js"></script>
    <script src="/js/header.js"></script>
    <script src="/js/orders.js"></script>


</body>
</html>