<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Expires" content="0">
        <meta http-equiv="Last-Modified" content="0">
        <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
        <meta http-equiv="Pragma" content="no-cache">
        <title>Administrador de usuarios</title>
        
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="/js/isAdmin.js"></script>
    </head>

    <body>

    <header id="header"></header>
    
    <main class="main main-admin-user">
        
        <button class="formular-charge" onclick="showFormUser()">Cargar nuevo usuario</button>

        <form id="form-users" class="form-users" data-mode="add"  onsubmit="handleSubmitUser(event)"></form>

        <div id="search-users"></div>
        <div id="search-users-result"></div>

        <div id="users-list">
            <table id="users-table" class="table-users-main">
                <thead>
                    <tr>
                    <td>Nombre</td>
                    <td>e-Mail</td>
                    <td>Fecha de nacimiento</td>
                    <td>Rol</td>
                    <td>Fecha de creación</td>
                    <td>Acciones</td>
                    </tr>
                </thead>
                <tbody id="users-rows">

                </tbody>
            </table>

        </div>


    </main>
        
    <footer id="footer"></footer>
        
    </body>
</html>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/alert.js"></script>
<script src="/js/users.js"></script>
<script src="/js/header&footer.js"></script>
<script src="/js/header.js"></script>
<script src="/js/admin-users.js"></script>
<script src="/js/orders.js"></script>
