<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {tabTitle : 'Detalle del Producto' }) %>
<body>
    <header id="header"></header>
    <main class="main main-home-detail">

    <div id="product-detail">

    </div>
    <div class="contact-footer btn-home-detail">
        <a href="/" class="contact-footer__btn">HOME</a>
    </div>

    </main>
    <footer id="footer"></footer>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/alert.js"></script>
    <script src="/js/header&footer.js"></script>
    <script src="/js/header.js"></script>
    <script src="/js/product-detail.js"></script>
    <script src="/js/orders.js"></script>
</body>
</html>