<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {tabTitle : 'Mi perfil' }) %>
<body>
    <header id="header"></header>
    <main class="main">

    <div class="title-container">
        <h1 class="title">Mi perfil</h1>
    </div>

    <div id="profile-container">
    </div>

    <div class="contact-footer btn-home-register">
        <a href="/" class="contact-footer__btn">HOME</a>
    </div>
    
    </main>
    <footer id="footer"></footer>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/alert.js"></script>
    <script src="/js/header&footer.js"></script>
    <script src="/js/header.js"></script>
    <script src="/js/profile.js"></script>
    <script src="/js/orders.js"></script>
</body>
</html>