$color-bg-primary-light:rgb(240, 240, 240);
$color-bg-secondary-light:#e3e3e3;
$color-bg-primary-dark: rgb(193, 193, 193);
$color-bg-secondary-dark: #b9b4ae;
$color-text: rgb(54, 54, 54);
$color-text-light: rgb(114, 114, 114);
$color-text-light-btn: rgb(159, 159, 159);
$color-table: rgb(88, 88, 88);
